spring:
  application:
    name: case-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?currentSchema=${POSTGRES_SCHEMA_CASES}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: ${POSTGRES_SCHEMA_CASES:cases}
  
  flyway:
    enabled: false
    baseline-on-migrate: true
    schemas: ${POSTGRES_SCHEMA_CASES:cases}
  cloud:
    kubernetes:
      discovery:
        enabled: true
      config:
        enabled: true
        namespace: carrillo-dev
        sources:
          - name: database-config
          - name: nats-config
          - name: application-common-config

server:
  port: 8300

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

logging:
  level:
    org.springframework.cloud.kubernetes: DEBUG
    com.carrilloabogados: INFO