# Default values for api-gateway
# This is a YAML-formatted file.

replicaCount: 1

image:
  repository: carrilloabogados/api-gateway
  pullPolicy: IfNotPresent
  tag: "v0.1.0"

serviceAccount:
  create: true
  name: "api-gateway-sa"

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

ingress:
  enabled: false

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3

livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8080
  initialDelaySeconds: 90
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8080
  initialDelaySeconds: 60
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "kubernetes"
  - name: JAVA_OPTS
    value: "-Xms256m -Xmx512m -XX:+UseG1GC"
  - name: TZ
    value: "America/Bogota"

configMapRef:
  name: api-gateway-config

nodeSelector: {}

tolerations: []

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - api-gateway
          topologyKey: kubernetes.io/hostname